.em4{width:4em;}

.margin-0 {margin: 0;}
.margin-20 {margin:20px;}

.padding-20 {padding:20px;}

.height-200{height:200px;}
.height-600{height:600px;}



.padding-sides-10{ padding: 0 10em;}

/*TEXT-STYLES*/

.message-text{
	color:#FFFFFF;
	font-family: 'Nunito', sans-serif;
	font-size: 27px;
	text-align: center;
}


.text-intro{
	color:#FFFFFF;
	font-family: 'Nunito', sans-serif;
	text-align: center;
}
h1{
	color:#00545F;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 3.2rem;
}

a.j-blog{
	display: none;
 }


/* IMAGES-STYLE*/

.black-filter{
	background-color: rgba(0,0,0,0.5);
	height: 100vh;
}

.service-1{
	background-image: url('../images/tlaloc.jpg');
	width: 85%;
	height: 300px;
	margin: auto;
	transition: box-shadow .25s;
	border-radius: 20%;
}