.em4{width:4em;}

.margin-0 {margin: 0;}
.margin-20 {margin:20px;}

.padding-20 {padding:20px;}

.padding-sides-2{ padding: 0 2rem;}

@media #{$medium-and-up} {
  .padding-sides-2 {
    padding:5rem;}
  }


.padding-sides-10{ padding: 0 10em;}

/* SLIDER-IMAGES

.slider-1 {
	width: 100%;
	height: 90vh;
	margin: auto;
	overflow: hidden;
}

.slider-1 ul {
	margin-top:0;
	display: flex;
	padding: 0;
	width: 400%;
	height:90vh;
	
	animation: cambio 20s infinite alternate linear;
}

.slider-1 li {
	width: 100%;
	list-style: none;
}

.slider-1 img {
	width: 100%;
	height: 90vh;

}
/*SLIDER-TEXT*/
/*
.slider-2 {
	width: 100%;
	margin: auto;
	overflow: hidden;
	position:absolute;
	top:90px;
	bottom:0px;
	background: rgba(0, 0, 0, 0.4);
}

.slider-2 ul {
	margin-top:0;
	display: flex;
	padding: 0;
	width: 400%;
	height:90vh;
	
	animation: cambio 20s infinite alternate linear;
}

.slider-2 li {
	width: 100%;
	list-style: none;
}

.slider-2 p {
	width: 100%;
	padding:  5em 9em;


}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}/*
/*TEXT-STYLES*/

.message-text{
	color:#FFFFFF;
	font-family: 'Nunito', sans-serif;
	font-size: 27px;
	text-align: center;
}


.text-intro{
	color:#FFFFFF;
	font-family: 'Nunito', sans-serif;
	font-size: 2rem;
	text-align: center;
}
h1{
	color:#00545F;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 3.2rem;
}

/* IMAGES-STYLE*/

.black-filter{
	background-color: rgba(0,0,0,0.5);
	height: 100vh;
}

.service-1{
	background-image: url('../images/tlaloc.jpg');
	width: 85%;
	height: 300px;
	margin: auto;
	transition: box-shadow .25s;
	border-radius: 20%;
}