/* line 1, ../../sass/components/utilities.scss */
.em4 {
  width: 4em;
}

/* line 3, ../../sass/components/utilities.scss */
.margin-0 {
  margin: 0;
}

/* line 4, ../../sass/components/utilities.scss */
.margin-20 {
  margin: 20px;
}

/* line 6, ../../sass/components/utilities.scss */
.padding-20 {
  padding: 20px;
}

/* line 8, ../../sass/components/utilities.scss */
.height-200 {
  height: 200px;
}

/* line 9, ../../sass/components/utilities.scss */
.height-600 {
  height: 600px;
}

/* line 13, ../../sass/components/utilities.scss */
.padding-sides-10 {
  padding: 0 10em;
}

/*TEXT-STYLES*/
/* line 17, ../../sass/components/utilities.scss */
.message-text {
  color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  font-size: 27px;
  text-align: center;
}

/* line 25, ../../sass/components/utilities.scss */
.text-intro {
  color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

/* line 30, ../../sass/components/utilities.scss */
h1 {
  color: #00545F;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
}

/* line 37, ../../sass/components/utilities.scss */
a.j-blog {
  display: none;
}

/* IMAGES-STYLE*/
/* line 44, ../../sass/components/utilities.scss */
.black-filter {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
}

/* line 49, ../../sass/components/utilities.scss */
.service-1 {
  background-image: url("../images/tlaloc.jpg");
  width: 85%;
  height: 300px;
  margin: auto;
  transition: box-shadow .25s;
  border-radius: 20%;
}
